/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*****/
/** global **/
/******/

* {
  @apply m-0 p-0;
}

*[contenteditable="true"]{display: inline-block;}

h1 {
    @apply text-4xl mb-2;
  }
  
h2 {
  @apply text-2xl mb-1;
}
  
  /******/
  /** card prof **/
  /******/
  
  .listeCartes {
    @apply flex flex-wrap p-0 m-0 w-full;
  }
  
  .carteProf {
    @apply border w-full min-w-full sm:max-w-fit sm:min-w-max rounded-lg m-0 mb-3 sm:mx-4 p-2;
    @apply flex flex-wrap sm:flex-col;
  }

  .photo {
    @apply w-32 h-32 min-w-32 rounded bg-gray-800 mx-auto p-0 m-0 mb-2 mt-1;
    @apply text-gray-700 flex items-center justify-center;
  }

  /*******/
  /** formulaire **/
  /******/
.label {
    @apply font-semibold mt-2;
  }


/*******/
/** modal **/
/******/

  * {
    box-sizing: border-box;
  }

  .bg {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.66);
  }

  .window-wrap {
    position: relative;
    margin: 2rem;
    max-height: 100%;
  }

  .window {
    position: relative;
    width: 40rem;
    max-width: 100%;
    max-height: 100%;
    margin: 2rem auto;
    color: black;
    border-radius: 0.5rem;
   
  }

  .content {
    position: relative;
    padding: 1rem;
    max-height: calc(100vh - 4rem);
    overflow: auto;
  }

  .close {
    display: block;
    box-sizing: border-box;
    position: absolute;
    z-index: 1000;
    top: 1rem;
    right: 1rem;
    margin: 0;
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    border: 0;
    color: black;
    border-radius: 1.5rem;
    background: white;
    box-shadow: 0 0 0 1px black;
    transition: transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1),
      background 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-appearance: none;
  }

  .close:before,
  .close:after {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    width: 1rem;
    height: 1px;
    background: black;
    transform-origin: center;
    transition: height 0.2s cubic-bezier(0.25, 0.1, 0.25, 1),
      background 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  .close:before {
    -webkit-transform: translate(0, -50%) rotate(45deg);
    -moz-transform: translate(0, -50%) rotate(45deg);
    transform: translate(0, -50%) rotate(45deg);
    left: 0.25rem;
  }

  .close:after {
    -webkit-transform: translate(0, -50%) rotate(-45deg);
    -moz-transform: translate(0, -50%) rotate(-45deg);
    transform: translate(0, -50%) rotate(-45deg);
    left: 0.25rem;
  }

  .close:hover {
    background: black;
  }

  .close:hover:before,
  .close:hover:after {
    height: 2px;
    background: white;
  }

  .close:focus {
    border-color: #3399ff;
    box-shadow: 0 0 0 2px #3399ff;
  }

  .close:active {
    transform: scale(0.9);
  }

  .close:hover,
  .close:focus,
  .close:active {
    outline: none;
  }

  /******/
  /*** spinner ***/
  /*******/
  .loader {
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
  }

  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  /*****/
  /** burger **/
  /****/
  #nav-Checkbox:checked ~ ul.nav-Menu li,
#nav-Checkbox:checked ~ label#nav-Toggle #svg-close {
  @apply block;
}
#nav-Checkbox:checked ~ label#nav-Toggle #svg-menu {
  @apply hidden;
}
#nav-Checkbox:checked ~ ul.nav-Menu {
  @apply pb-4;
}

/* 
tranformation icon menu sur mobile
*/

#nav-icon {
  @apply w-6 p-0 m-0;
}

#nav-icon:after,
#nav-icon:before,
#nav-icon div {
  @apply bg-gray-500;
  border-radius: 2px;
  content: "";
  display: block;
  height: 5px;
  margin: 5px 0;
  transition: all 0.1s ease-out;
}

#menu-toggle:checked ~ #menu {
  @apply scale-100;
}

#menu-toggle:checked + label > #nav-icon::before {
  transform: translateY(10px) rotate(135deg);
}

#menu-toggle:checked + label > #nav-icon:after {
  transform: translateY(-10px) rotate(-135deg);
}

#menu-toggle:checked + label > #nav-icon > div {
  transform: scale(0);
}