---
//import { Image } from '@astrojs/image/components';
import { Image } from 'astro:assets';
import BaseLayout from '../../layouts/BaseLayout.astro'

var data = await fetch(import.meta.env.BASEROW_URL_OLD + "rows/table/650/?user_field_names=true&order_by=nom", {headers: {Authorization: "Token " + import.meta.env.TOKEN_BASEROW_LECTURE_OLD}})
const lesProfs = (await data.json()).results.map((item) => {return {nom: item.nom, prenom: item.prenom, photo: item.photo, sections: item.sections}})
console.log(lesProfs)
lesProfs.forEach((prof) => {
    var flagFM = false
    var sectionCondensee = []
    prof.sections.forEach((section) => {
        if (section.value.includes("FM")||section.value.includes("fm")) {
            if (!flagFM) {
                sectionCondensee.push("formation musicale")
                flagFM = true
            }
        } else {
            sectionCondensee.push(section.value)
        }
    })
    prof.sections = sectionCondensee
})
---
<BaseLayout title="Nos professeurs">
    <h1 >Nos professeurs</h1>
    <p>Voici les professeurs qui animent nos cours et ateliers</p>
    <div class="cartes">
        {lesProfs.map((prof) => (
        <article class="carte">
            {prof.photo.length > 0 ?
                <Image src={prof.photo[0].url} width={174} height={187} format="png" alt={prof.nom + " " + prof.prenom} />
                :
                <Image src={import('./fondProf.png')} width={174} height={187} format="png" alt="image de remplacement" />
            }
            <div class="bandeau">
                {prof.nom === "TBD" ?
                    <h2>recrutement en cours</h2>
                    :
                    <h2>{prof.prenom} {prof.nom}</h2>}
                    <div class="px-px">
                        {prof.sections.map((section) => {return section}).join(", ")}
                    </div>
            </div>
        </article>
            ))}
    </div> 
    <div class="flex justify-center">
        <a href="/inscriptions" class="buttonLink">
            Le formulaire d'inscription
        </a>
    </div>
</BaseLayout>

<style>
    .cartes {
        @apply flex gap-2 flex-wrap text-center justify-around mt-4;
    }

    .carte {
        @apply p-0 min-w-174px max-w-174px rounded;
    }

    .carte .bandeau {
        @apply text-gray-200 h-16 rounded-b;
    }

    .carte:nth-child(4n + 1) .bandeau {
        @apply bg-bleu-800;
    }

    .carte:nth-child(4n + 2) .bandeau {
        @apply bg-vert-800;
    }

    .carte:nth-child(4n + 3) .bandeau {
        @apply bg-jaune-800;
    }

    .carte:nth-child(4n + 4) .bandeau {
        @apply bg-rouge-800;
    }

    .carte .bandeau h2 {
        @apply m-0 p-0 text-base font-bold;
    }

    .carte .bandeau div {
        @apply text-sm;
    }

    .carte img {
        @apply mx-auto rounded-t;
    }
</style>
