---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Accueil">
  <h1>Bonjour,</h1>
  <p>Vous vous trouvez sur le site qui permettra de vous inscrire aux cours et ateliers de l'ACL.</p>
  <p class="my-1">La page d'inscription au stage été de cette année se trouve sur <a href="/stageEte" class="text-gray-100 bg-jaune-900 p-1 rounded font-semibold"><u>cette page</u></a>.</p>
  <p class="my-1">La page d'inscription ACL 2022-2023 est sur <a href="/inscriptions" class="text-gray-100 bg-jaune-900 p-1 rounded font-semibold"><u>cette page</u></a>. Vous y trouverez toutes les infos sur les cours et les ateliers de cette année ainsi que le formulaire d'inscription.</p>
</BaseLayout>