---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
import Counter from '../components/counter.svelte'
---
<BaseLayout title="Accueil">
  <h1>Bonjour,</h1>
  <p>Vous vous trouvez sur le site qui permettra de vous inscrire aux cours et ateliers de l'ACL. La peinture est encore très fraîche et il manque plein de choses.</p>
  <p class="my-1">En attendant, vous pouvez vous inscrire au stage été 2022 à <a href="/stageEte" class="text-gray-100 bg-jaune-900 p-1 rounded font-semibold"><u>cette page</u></a>.</p>
</BaseLayout>