---
import Nav from './nav.astro'
const {title} = Astro.props;
---
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <style global>
      @import "../../styles/global.css";
    </style>
  </head>
  <body class="w-full max-w-1024px bg-gray-900 text-gray-400 p-1 sm:p-4 sm:flex sm:flex-row gap-4">
    <Nav />
    <div class="m-0 p-0 w-full">
      <slot />
    </div>
  </body>
</html>

<script>
    const url = "https://cms.labonnefabrique.fr/token/decrypt"
    var userInfo = JSON.parse(localStorage.getItem('userInfo'))
    if (userInfo) {
        var entetes = new Headers({"content-type": "application/json"})
        var options = { 
            method: 'POST',
            headers: entetes,
            mode: 'cors',
            cache: 'default',
            body: JSON.stringify({
                token: userInfo.jwt
            })
        }
        fetch(url, options)
            .then((leJSON) => {return leJSON.json()})
            .then((retourJWT)=> {
                if (retourJWT.message === "Error: Invalid token.") {
                    localStorage.removeItem('userInfo')
                    const redirect = window.location.pathname + window.location.search
                    const pathName = window.location.pathname
                    if (!pathName.includes('login')) {
                        window.location.assign(window.location.origin + '/admin/login/?' + redirect)
                    }
                } else {
                    return userInfo.jwt
                }
            })
            .catch((erreur) => console.log('erreur', erreur))
    } else {
        localStorage.removeItem('userInfo')
        const redirect = window.location.pathname + window.location.search
        const pathName = window.location.pathname
        if (!pathName.includes('login')) {
            window.location.assign(window.location.origin + '/admin/login/?' + redirect)
        }
    }
</script>