---
import Nav from './nav.astro'
const {title} = Astro.props;
---
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <style global>
      @import "../../styles/global.css";
    </style>
  </head>
  <body class="w-full max-w-1024px bg-gray-900 text-gray-400 p-1 sm:p-4 sm:flex sm:flex-row gap-4">
    <Nav />
    <div class="m-0 p-0 w-full">
      <slot />
    </div>
  </body>
</html>

<script src="./verifJWT.js"/>