---
// src/layouts/BaseLayout.astro
const {title} = Astro.props;
---
<html>
  <head>
    <title>{title}</title>
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
  </head>
  <body class="w-full bg-gray-900 text-gray-400 p-2">
    <!-- slot: your page content will be injected here. -->
    <slot />
  </body>
</html>